<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Meta Data -->
        <meta name="description" content="Create a customized Spotify playlst with tracks from lesser-known artists.">
        <meta name="author" content="Derek Beistad">
        <meta name="keywords" content="Spotify, music, playlist, music recommendations">
        <meta property="og:title" content="Discovery Jam">
        <meta property="og:description" content="Create a customized Spotify playlst with tracks from lesser-known artists.">
        <meta property="og:url" content="https://yourapp.com">
        <meta property="og:image" content="../static/images/discovery-jam-logo.jpg">
        <meta name="twitter:card" content="../static/images/discovery-jam-logo.jpg">
        <meta name="twitter:title" content="Discovery Jam">
        <meta name="twitter:description" content="Create a customized Spotify playlst with tracks from lesser-known artists.">
        <meta name="twitter:image" content="../static/images/discovery-jam-logo.jpg">
        <meta name="robots" content="index, follow">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
        
        <link rel="apple-touch-icon" sizes="180x180" href="../static/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
        <link rel="manifest" href="../static/images/site.webmanifest">


        <title>Discovery Jam</title>
        <!-- CSS -->
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@500;600;700&family=Palanquin:wght@200;300;400&display=swap"
            rel="stylesheet"
        />

        <script nonce="{{ request.cookies['csp_nonce'] }}">
            console.log('Inline script running!');
            console.log("{{ request.cookies['csp_nonce'] }}");
            function showLoading() {
                document.getElementById('loadingOverlay').style.display = 'flex';
            }
        </script>
            

    </head>
    <body>
        <!-- Nav -->
        <div class="nav">
            <a href="/"><h1 class="nav-title">Discovery Jam</h1></a>
        </div>
    
