{% include 'header.html' %}

    <div class="hero-section">
        <p class="hero-text">Find your</p>
        <h1 class="hero-title">DISCOVERY JAM</h1>
        <p class="nav-title">We aim to give you the most accurate recommendations for
            artists that are lesser-known.</p>


            <form>
                <input type="checkbox" id="agree" />
                <label for="agree">I agree to the <a href="/terms-of-service" target="_blank">Terms of Service</a> and <a href="/privacy-policy" target="_blank">Privacy Policy</a></label>
            </form>
        <a href="/login" class="login-btn">
            <span class="hero-text">Login with Spotify</span></a>

        <p class="text">This product uses the Spotify API but is not endorsed, certified, or otherwise approved by Spotify.</p>
        
            <!--  logout button -->
        <a href="{{ url_for('logout') }}" class="logout-btn">
            <span class="text">logout from Spotify</span></a>

    </div>

    <script src="{{ url_for('static', filename='scripts.js') }}" nonce="{{ nonce }}"></script>



{% include 'footer.html' %}