{% include 'header.html' %}

    <div class="hero-section">
        <p class="hero-text">Find your</p>
        <h1 class="hero-title">DISCOVERY JAM</h1>
        <p class="nav-title">We aim to give you the most accurate recommendations for
            artists that are lesser-known.</p>


        <a href="/login" class="login-btn">
            <span class="hero-text">Login with 
                <img src="../static/images/Spotify_Full_Logo_RGB_Green.png" class="spotify-logo-button" alt="Spotify" /></span></a>

        
    </div>

{% include 'footer.html' %}