{% include 'header.html' %}

<div class="hero-section">
    <h1 class="hero-title">Playlist Created!</h1>
    <p class="text"></p>
        Remember, we aim to give you the most accurate recommendations for
        artists that are lesser-known.
    </p>

    {% if img %}
        <a href="{{ playlist_url }}" target="_blank">
        <img class="cover-img" src="data:image/jpeg;base64,{{ img }}" alt="Playlist Cover" />
        </a>
    {% endif %}

    <!-- Create Playlist logic and button -->
    {% if playlist_url %} 
        <a href="{{ playlist_url }}" class="login-btn" target="_blank"
            ><span class="hero-text">Your Discovery Jam</span></a>
    {% endif %}
     
    <p class="subheading">Thank you for using Discovery Jam</p>
    
    <!--  logout button -->
    <a href="{{ url_for('logout') }}" class="logout-btn">
        <span class="text">logout from Spotify</span></a>
    
</div>

{% include 'footer.html' %}
