{% include 'header.html' %}

<div class="hero-section">
    <h1 class="hero-title">Playlist Created!</h1>
    <p class="text"></p>
        Remember, we aim to give you the most accurate recommendations for
        artists that are lesser-known.
    </p>
    <p class="text"></p>
        Made possible by <img src="../static/images/Spotify_Full_Logo_RGB_Green.png" class="spotify-logo-button" alt="Spotify" />
    </p>

    {% if img %}
        <a href="{{ playlist_url }}" target="_blank">
        <img class="cover-img" src="data:image/jpeg;base64,{{ img }}" alt="Playlist Cover" />
        </a>
    {% endif %}

    <!-- Create Playlist logic and button -->
    {% if playlist_url %} 
        <a href="{{ playlist_url }}" class="login-btn" target="_blank"
            ><span class="hero-text">Your Discovery Jam</span></a>
    {% endif %}
     
    <p class="subheading">Thank you for using Discovery Jam</p>
    
</div>

{% include 'footer.html' %}
